    
    <br /><br /><br /><br />

    
   <div class="header" style="height:20px; padding-left: 45px;">
      <div class="top-container">
        
        <div class="pull-left">© 2013 BlogWith.</div> 
        <div class="pull-right">
          <span><a href="http://by.blogwith.co">Blog</a></span>
          &nbsp;<span><a href="http://twitter.com/">Feedback</a></span>
        </div>
      </div>
    </div>    
<div id="push"></div>    
</div>
    <!-- Banner -->
    <div id="footer">
      <a target="_blank" href="https://www.hackerleague.org/hackathons/evernote-devcup-2013/hacks/blogwith">
      <div class="container" style="padding-top:8px;">
        <img alt="Medium" align="middle" src="https://s3.amazonaws.com/hackerleague/organizations/logos/5112996bdff11d65a800001e/medium.png?1362953837" width="100px" height="32px">
        <span class="credit">Support BlogWith in Evernote DevCup. We need your love!</span>
      </div>
      </a>
    </div>

    <script type="text/javascript">
      var timezoneOffset = - (new Date().getTimezoneOffset());
      $("#evernoteAuthentication").attr('href', $("#evernoteAuthentication").attr('href') + '?timezone=' + timezoneOffset);
    </script>
  </body>
</html>