    
    <br /><br />

    <div class="push footerLink"></div> 

</div>    <!-- End of wraper-->

<div class="footer footerLink">
    <div class="container">
      
      <div class="pull-left">© 2014 BlogWith.</div> 
      <div class="pull-right">
        <span><a href="/home">Home</a></span>
        &nbsp;
        <span><a target="_blank" href="http://by.blogwith.co/about/">About</a></span>
        &nbsp;        
        <span><a  target="_blank" href="http://by.blogwith.co">Blog</a></span>
        &nbsp;
        <span><a target="_blank" href="http://by.blogwith.co/ask">Feedback</a></span>


      </div>
    </div>
  <div class="push banner"></div>        
</div>

</div>
    <!-- Banner -->
    <div class="footer banner">
      <a target="_blank" href="#">
      <div class="container" style="padding-top:20px;">
        <img alt="Medium" align="middle" src="images/clipboard.png" width="30px" height="30px">
        <span class="title">WE ARE REBUILDING BLOGWITH</span>
        <p class="credit">BlogWith experiences some sync problems these days! A new team is working on bringing BlogWith back to healthy. We are sorry for problems you've got.<br/>Let us know if you see any problem, give us a hand if you love to help improving BlogWith. Our sincere appreciation!</p>
      </div>
      </a>
    </div>

    <script type="text/javascript">
      var timezoneOffset = - (new Date().getTimezoneOffset());
      $("#evernoteAuthentication").attr('href', $("#evernoteAuthentication").attr('href') + '?timezone=' + timezoneOffset);
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42499228-1', 'blogwith.co');
      ga('send', 'pageview');

    </script>

  </body>
</html>