    
    <br /><br />

    <div class="push footerLink"></div> 

</div>    <!-- End of wraper-->

<div class="footer footerLink">
    <div class="container">
      
      <div class="pull-left">© 2013 BlogWith.</div> 
      <div class="pull-right">
        <span><a  target="_blank" href="http://by.blogwith.co">Blog</a></span>
        &nbsp;
        <span><a target="_blank" href="http://by.blogwith.co/ask">Feedback</a></span>


      </div>
    </div>
  <div class="push banner"></div>        
</div>

</div>
    <!-- Banner -->
    <div class="footer banner">
      <a target="_blank" href="https://www.hackerleague.org/hackathons/evernote-devcup-2013/hacks/blogwith">
      <div class="container" style="padding-top:8px;">
        <img alt="Medium" align="middle" src="https://s3.amazonaws.com/hackerleague/organizations/logos/5112996bdff11d65a800001e/medium.png?1362953837" width="100px" height="32px">
        <span class="credit">Support BlogWith in Evernote DevCup. We need your love!</span>
      </div>
      </a>
    </div>

    <script type="text/javascript">
      var timezoneOffset = - (new Date().getTimezoneOffset());
      $("#evernoteAuthentication").attr('href', $("#evernoteAuthentication").attr('href') + '?timezone=' + timezoneOffset);
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42499228-1', 'blogwith.co');
      ga('send', 'pageview');

    </script>

  </body>
</html>